@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Teko', sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
    letter-spacing: 0px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container {
    margin: 10px 30%;
}

.image-container img{
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {

    .image-container{
        margin: 10px 15%;
    }
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 50px;
    }

    .image-container{
        margin: 10px;
    }
}